*{
    margin: 0;
    padding: 0;
}

nav a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    opacity: 0.7;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    pointer-events: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sistem-ui, -apple-system, Arial, Helvetica, sans-serif;
    background-color: #278fc7;
    height: 8vh;
    
}
.home {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;

}

header {
}