*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    min-height: 100vh;
    background-color: #fff;

}
.navbar{
    width: 250px;
    height: 100vh;
    position: fixed;
    /*margin-left -300px; */
    background-color: #7952b3;
    transition: 0.4s;
}

.navlink {
    font-size: 1.25em;
}

.navlink:active,
.navlink:focus,
.navlink:hover {
    background-color: aquamarine;
}
